<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.mindtree.omsframework.utility.Pdf_Report_Listener"/>
<listener class-name="com.mindtree.omsframework.utility.ToprogressBar"/>
<listener class-name="com.mindtree.omsframework.extentreportlistener.ExtentListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mindtree.omsframework.testcasesExecution.OMS_Homepage_Test"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
